<div class="p-3 footerStyle" data-bs-theme="dark">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center align-items-center g-3">
            <div class="col text-md-start order-last order-md-first">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1">Built By</span>
                        <img src="images/MarkSpectreLogoLight.png" height="30"/>
                    </div>
                    <div class="col-12">
                        &copy; 2023 Mark Spectre.
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <img src="images/BlazorMovieLogo_v2_o.png" height="50"/>
                <div class="d-flex align-items-center justify-content-center flex-wrap gap-1">
                    Powered by <a href="https://www.themoviegb.org/">
                        <img src="images/THEMOVEDBLogo.svg" height="10"/>    
                    </a>
                </div>
            </div>
            <div class="col text-md-end">
                <div class="row">
                    <div class="col-12">
                        <a href="#"><i class="bi bi-youtube"></i></a>
                        <a href="#"><i class="bi bi-twitter-x"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </div>
                    <div class="col-12">
                        <a href="#">Blog</a>
                        &bull;
                        <a href="#">Portfolio</a>
                        &bull;
                        <a href="#">Bug Tracker</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@code {

}
