@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">
    <!---Top Nav--->
    <TopNavMenu />
    <!-- Main -->
    <main class="flex-grow-1">
        @Body
    </main>
    <!-- Footer-->
    <footer class="flex-shrink-0">
        <Footer/>
    </footer>
</div>



@code {

}
