@inject IJSRuntime JS 


@if (Movie is not null)
{
    <div class="card h-100 fade-in" @ref="posterCardElement">
        @if (string.IsNullOrEmpty(Movie.PosterPath))
        {
            <img class="card-img-top" alt="Movie Poster" src="/images/PosterPlaceHolder.png" />
        }
        else
        {
            <img class="card-img-top" alt="Movie Poster" src="@($"https://image.tmdb.org/t/p/w500/{Movie.PosterPath}")" />
        }
        <div class="card-body border-top bg-light">
            <h5 class="card-title">@Movie.Title</h5>
            <p class="card-text">
                @DateTime.Parse(Movie.ReleaseDate).ToString("MMMM dd, yyyy")
            </p>
        </div>
        <div class="card-footer text-end">
            <a class="btn btn-primary" href="/">Details</a>
        </div>
    </div>
}
else
{
    <div class="card h-100" >
        <img class="card-img-top" alt="Movie Poster" src="/images/PosterPlaceHolder.png"/>
        <div class="card-body border-top bg-light">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-8"></span>
            </p>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-primary disabled placeholder col-6">
                Details
            </button>
        </div>
    </div>
}


@code {

    private ElementReference posterCardElement;

    [Parameter]
    public PopularMovie? Movie { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("VanillaTilt.init", posterCardElement, new
            {
                max = 15,
                speed = 300
            });
        }
    }

    public void Dispose()
    {
        JS.InvokeVoidAsync("VanillaTilt.destroy", posterCardElement);
    }

}
