@page "/"
@using BlazorMovieLive.Models
@using BlazorMovieLive.Services
@inject TMDBClient TMDB

<PageTitle>Home</PageTitle>

<div class="h-100 d-flex flex-column justify-content-center align-items-center">

    <h1>Hello, world!</h1>
    Welcome to your new app.

    <img src="/images/THEMOVEDBLogo.svg" class="w-25" />

    <button class="btn btn-primary mt-3">Primary Button</button>

    @if(movies is not null)
    {
        <ul>
            @foreach (PopularMovie movie in movies.Results)
            {
                <li>@movie.Title</li>
            }
        </ul>
    }
    else
    {
        <p>Movies are still loading...</p>
    }
</div>

@code {
    private PopularMoviePagedResponse? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await TMDB.GetPopularMoviesAsync();
    }
}